.header{
    width: 100%;
    padding: var(--spacing-10);
    border-bottom: 1px solid var(--color-neutral-200);
    min-height: 38px;
    position: fixed;
    top: 0;
    height: 56px;
    z-index: 9999;
    background-color: white;
    .header-inner{
        padding: 0 10px;
        width: 100%;
        // max-width: 1600px;
        margin: 0 auto;
    }
}

.logo-title{
    font-size: var(--fs-6);
    font-weight: bold;
    color: #002140;
}