.base-graph {
  position: relative;
  height: 100%;
  user-select: none;
  line-height: 0;
  .graph-title {
    font-size: var(--fontSize-lg);
    font-weight: 400;
    padding-bottom: var(--spacing);
  }
  .graph-container {
    position: relative;
    display: inline-block;
    line-height: 0;
    .graph-no-data {
      height: 100%;
      width: 100%;
      z-index: 100;
      position: absolute;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      &.error-panel {
        z-index: 999;
      }
    } 
    .graph-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      > * {
        user-select: none;
      }
    }
  }
  /** @todo Lấy tên class từ variable GRAPH_CONFINED_CLASSNAME thay vì hardcode **/
  &.base-graph-confined {
    .base-graph-resize-detector {
      padding: var(--spacing);
      overflow: auto;
    }
    .hanging-title {
      padding-top: var(--spacing);
      padding-left: var(--spacing);
    }
    .graph-container {
      .graph-content > canvas {
        margin-bottom: var(--spacing);
      }
    }
  }
  &:only-child {
    .hanging-title {
      border-top-left-radius: var(--br);
    }
  }
}
#vg-tooltip-element {
  max-width: 30rem;
}
