.custom-modal-preview{
    .ant-modal-content{
        padding: 12px;
        .ant-modal-close{
            top: 6px;
        }
    }
}

.layout-preview-content{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 12px;
    .content{
        max-width: 100%;
    }
    .list-files{
        display: flex;
        flex-direction: column;
        .file{
            padding: 12px 0;
        }
        .frame-file{
            padding: 0 12px;
            cursor: pointer;
            display: grid;
            grid-template-columns: min-content 160px min-content;
            gap: 12px;
            border-radius: var(--br-sm);
            &:hover{
                background-color: rgb(92, 138, 230);
                transition: ease-in-out 0.3s;
                color: rgb(243, 246, 250);
            }
        }
    }
}