.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-jc-row-start {
    justify-content: flex-start;
}

.flex-jc-end {
    justify-content: flex-end;
}

.flex-jc-center {
    justify-content: center;
}

.flex-jc-between {
    justify-content: space-between;
}

.flex-al-start {
    align-items: flex-start;
}

.flex-al-end {
    align-items: flex-end;
}

.text-flex-truncate{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-al-center {
    align-items: center;
}

.bdr-tiny {
    border-radius: 4px;
}

.pd-tiny {
    padding: 4px;
}

.gap-tiny {
    gap: 4px;
}

.gap-sm {
    gap: 16px;
}

.w-1200 {
    width: -webkit-fill-available;
    max-width: 1200px;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.gap-30 {
    gap: var(--spacing-xl);
}
.gap-12{
    gap: 12px;
}

.sticky {
    top: 0;
    position: sticky;
}

.pd-sm {
    padding: var(--spacing-10);
}

.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.overflow-hidden-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-default {
    color: black;
    font-size: var(--fs-base);
    &.bold {
        font-weight: bold;
    }
}

.text-default.label {
    color: var(--bdColor-extreme);
}

.frame-section {
    padding: var(--spacing-15) 0;
}

.frame-section.dark {
    background-color: var(--color-normal);
}

.icon-default {
    color: var(--color-blue-700);
    min-width: 16px;
}

.no-mg-bot {
    margin-bottom: 0;
}

.link-text {
    font-size: var(--fs-4);
    cursor: pointer;
    color: var(--color-blue-800);
    font-weight: 400;
}

.box-shadow-default {
    box-shadow: var(--bs-1);
    border-radius: var(--br-sm);
}

.mgl-auto {
    margin-left: auto;
}

.mg-auto {
    margin: 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.min-w-fit {
    min-width: fit-content;
    white-space: nowrap;
}

.box-company-logo {
    border-radius: 7px;
    height: 55px;
    padding: 2px;
    position: relative;
    min-width: 55px;
    width: 55px;
    .logo {
        background: var(--color-contrast);
        border-radius: var(--br-xs);
        height: 100%;
        padding: var(--spacing-xxs);
        width: 100%;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

.box-location-item {
    background-color: var(--color-neutral-100);
    padding: var(--spacing-5) var(--spacing-10);
    border-radius: var(--br-xs);
    cursor: pointer;
    font-size: var(--fs-sm);
    transition: ease-in-out 0.3s;
}

.pdb-45 {
    padding-bottom: 45px;
}

.logo {
    width: 42px;
    height: 42px;
    object-fit: contain;
}

.mgt-15 {
    margin-top: 30px;
}

.img {
    height: auto;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.scroll {
    max-height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.grid-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-10);
}

.custom-input{
    min-height: 40px;
}

.content-scroll{
    width         : 100%;
	min-height    : calc(100vh - 56px);
	display       : flex;
	flex-direction: column;
}

#layout {
    width: 100% !important;
}

.scroll-y{
    overflow-y: auto;
    min-height: calc(100vh - 56px);
    height: -webkit-fill-available;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-button {
        background: #ccc
    }
    &::-webkit-scrollbar-track-piece {
        background: #888
    }
    &::-webkit-scrollbar-thumb {
        background: #002140
    }
}

.frame-chart{
    margin: var(--spacing-10);
    padding: var(--spacing-10);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px;
}