:root {
	--_scales-0: borderRadiusScale;
	--_scales-1: spacingScale;

	--transparent: transparent;

	--black: #000;

	--white: #fff;

	--vendor: #072d5c;

	--spacing-scale-tight: 0.5;
	--spacing-scale-normal: 1;
	--spacing-scale-loose: 1.5;
	--spacing-scale: var(--spacing-scale-normal);

	--border-radius-scale-sharper: 0.5;
	--border-radius-scale-normal: 1;
	--border-radius-scale-dull: 2;
	--border-radius-scale: var(--border-radius-scale-normal);

	--min-height-navbar: 54px;
	--min-height-header: 52px;
	--min-height-header-large: 60px;
	--min-height-header-small: 44px;
	--min-height-content: 32px;
	--min-height-content-large: 40px;
	--min-height-content-small: 24px;
	--min-height: var(--min-height-header);

	--size-1: 1px;
	--size-2: 2px;
	--size-3: 3px;
	--size-4: 4px;
	--size-5: 5px;
	--size-6: 6px;
	--size-7: 7px;
	--size-8: 8px;
	--size-9: 9px;
	--size-10: 10px;
	--size-none: 0px;
	--size-px: 1px;
	--size-xxs: 2px;
	--size-xs: 5px;
	--size-sm: 10px;
	--size-md: 15px;
	--size-lg: 20px;
	--size-xl: 30px;
	--size-2xl: 40px;
	--size-3xl: 50px;
	--size-4xl: 60px;
	--size-5xl: 70px;
	--size-6xl: 80px;
	--size: var(--size-1);

	--spacing-0: 0;
	--spacing-1: 1px;
	--spacing-2: 2px;
	--spacing-5: 5px;
	--spacing-10: 10px;
	--spacing-15: 15px;
	--spacing-20: 20px;
	--spacing-25: 25px;
	--spacing-30: 30px;
	--spacing-35: 35px;
	--spacing-40: 40px;
	--spacing-45: 45px;
	--spacing-50: 50px;
	--spacing-neg-1: -1px;
	--spacing-neg-2: -2px;
	--spacing-neg-5: -5px;
	--spacing-neg-10: -10px;
	--spacing-neg-15: -15px;
	--spacing-neg-20: -20px;
	--spacing-neg-25: -25px;
	--spacing-neg-30: -30px;
	--spacing-neg-35: -35px;
	--spacing-neg-40: -40px;
	--spacing-neg-45: -45px;
	--spacing-neg-50: -50px;
	--spacing: var(--spacing-1);

	--spacing-none: calc(0 * var(--spacing-scale));
	--spacing-px: calc(1px * var(--spacing-scale));
	--spacing-xxs: calc(2px * var(--spacing-scale));
	--spacing-xs: calc(5px * var(--spacing-scale));
	--spacing-sm: calc(10px * var(--spacing-scale));
	--spacing-md: calc(15px * var(--spacing-scale));
	--spacing-lg: calc(20px * var(--spacing-scale));
	--spacing-xl: calc(30px * var(--spacing-scale));
	--spacing-2xl: calc(40px * var(--spacing-scale));
	--spacing-3xl: calc(50px * var(--spacing-scale));
	--spacing-4xl: calc(60px * var(--spacing-scale));
	--spacing-5xl: calc(70px * var(--spacing-scale));
	--spacing-6xl: calc(80px * var(--spacing-scale));
	--spacing-neg-px: calc(-1px * var(--spacing-scale));
	--spacing-neg-xxs: calc(-2px * var(--spacing-scale));
	--spacing-neg-xs: calc(-5px * var(--spacing-scale));
	--spacing-neg-sm: calc(-10px * var(--spacing-scale));
	--spacing-neg-md: calc(-15px * var(--spacing-scale));
	--spacing-neg-lg: calc(-20px * var(--spacing-scale));
	--spacing-neg-xl: calc(-30px * var(--spacing-scale));
	--spacing-neg-2xl: calc(-40px * var(--spacing-scale));
	--spacing-neg-3xl: calc(-50px * var(--spacing-scale));
	--spacing-neg-4xl: calc(-60px * var(--spacing-scale));
	--spacing-neg-5xl: calc(-70px * var(--spacing-scale));
	--spacing-neg-6xl: calc(-80px * var(--spacing-scale));
	--spacing: var(--spacing-md);

	--ff-base: "Roboto Condensed", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--ff-sans-serif: "Roboto Condensed", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--ff-mono: Menlo, Monaco, "Source Code Pro", "Segoe UI Mono", "Roboto Mono", ui-monospace, "Oxygen Mono", "Ubuntu Monospace", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
	--ff-serif: Merriweather,"Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	--ff: var(--ff-base);

	--fs-0: 0;
	--fs-1: 3px;
	--fs-2: 7px;
	--fs-3: 10px;
	--fs-4: 14px;
	--fs-5: 17px;
	--fs-6: 21px;
	--fs-7: 24px;
	--fs-8: 28px;
	--fs-9: 31px;
	--fs-10: 35px;
	--fs-px: 5px;
	--fs-xxs: 7px;
	--fs-xs: 10px;
	--fs-sm: 12px;
	--fs-md: 14px;
	--fs-base: 14px;
	--fs-lg: 16px;
	--fs-xl: 18px;
	--fs-2xl: 20px;
	--fs-3xl: 22px;
	--fs-4xl: 24px;
	--fs-5xl: 28px;
	--fs-6xl: 42px;
	--fs-7xl: 56px;
	--fs-8xl: 70px;
	--fs: var(--fs-base);

	--lh-xxs: 0.5;
	--lh-xs: 0.6;
	--lh-sm: 0.8;
	--lh-md: 1;
	--lh-lg: 1.25;
	--lh-xl: 1.375;
	--lh-2xl: 1.5;
	--lh-3xl: 1.75;
	--lh-4xl: 2.25;
	--lh: var(--lh-md);

	--ls-xxs: -0.04rem;
	--ls-xs: -0.02rem;
	--ls-sm: -0.01rem;
	--ls-md: normal;
	--ls-lg: 0.04rem;
	--ls-xl: 0.07rem;
	--ls-2xl: 0.1rem;
	--ls-3xl: 0.125rem;
	--ls-4xl: 0.15rem;
	--ls: var(--ls-md);

	--br-0: calc(0 * var(--border-radius-scale));
	--br-none: calc(0 * var(--border-radius-scale));
	--br-xs: calc(2px * var(--border-radius-scale));
	--br-sm: calc(0.25rem * var(--border-radius-scale));
	--br-md: calc(0.5rem * var(--border-radius-scale));
	--br-normal: calc(0.5rem * var(--border-radius-scale));
	--br-lg: calc(1rem * var(--border-radius-scale));
	--br-xl: calc(2rem * var(--border-radius-scale));
	--br-max: calc(99999px * var(--border-radius-scale));
	--br-full: calc(99999px * var(--border-radius-scale));
	--br: var(--br-md);

	--bdColor-none: transparent;
	--bdColor-contrast: #ffffff;
	--bdColor-faint: #f8f8f8;
	--bdColor-subtle: #f0f0f1;
	--bdColor-normal: #e1e1e3;
	--bdColor-blunt: #d2d2d6;
	--bdColor-extreme: #9696a0;
	--bdColor-separator: #aaaaaa;
	--bdColor-success: var(--main-success);
	--bdColor-info: var(--main-info);
	--bdColor-danger: var(--main-danger);
	--bdColor-warning: var(--main-warning);
	--bdColor: var(--bdColor-normal);

	--bd-none: 0 solid var(--bdColor-none);
	--bd-contrast: var(--size-px) solid var(--bdColor-contrast);
	--bd-faint: var(--size-px) solid var(--bdColor-faint);
	--bd-subtle: var(--size-px) solid var(--bdColor-subtle);
	--bd-normal: var(--size-px) solid var(--bdColor-normal);
	--bd-blunt: var(--size-px) solid var(--bdColor-blunt);
	--bd-extreme: var(--size-px) solid var(--bdColor-extreme);
	--bd-separator: var(--size-3) solid var(--bdColor-separator);
	--bd-success: var(--size-px) solid var(--bdColor-success);
	--bd-info: var(--size-px) solid var(--bdColor-info);
	--bd-danger: var(--size-px) solid var(--bdColor-danger);
	--bd-warning: var(--size-px) solid var(--bdColor-warning);
	--bd: var(--bd-normal);

	--bs-0: unset;
	--bs-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--bs-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--bs-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	--bs-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	--bs-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	--bs-1-ambient: 0 0 2px 0px rgba(0, 0, 0, 0.6);
	--bs-2-ambient: 0 0 2px 1px rgba(0, 0, 0, 0.55);
	--bs-3-ambient: 0 0 5px 1px rgba(0, 0, 0, 0.5);
	--bs-4-ambient: 0 0 6px 2px rgba(0, 0, 0, 0.45);
	--bs-5-ambient: 0 0 8px 3px rgba(0, 0, 0, 0.4);
	--bs-1-inset: 0 1px 3px rgba(0, 0, 0, 0.12) inset, 0 1px 2px rgba(0, 0, 0, 0.24) inset;
	--bs-2-inset: 0 3px 6px rgba(0, 0, 0, 0.16) inset, 0 3px 6px rgba(0, 0, 0, 0.23) inset;
	--bs-3-inset: 0 10px 20px rgba(0, 0, 0, 0.19) inset, 0 6px 6px rgba(0, 0, 0, 0.23) inset;
	--bs-4-inset: 0 14px 28px rgba(0, 0, 0, 0.25) inset, 0 10px 10px rgba(0, 0, 0, 0.22) inset;
	--bs-5-inset: 0 19px 38px rgba(0, 0, 0, 0.3) inset, 0 15px 12px rgba(0, 0, 0, 0.22) inset;
	--bs: var(--bs-1-ambient);

	--ts-0: unset;
	--ts-1: 0 1px 0 var(--color-gray-400), 0 1px 1px var(--color-gray-600);
	--ts-2: 0 1px 1px var(--color-gray-500), 0 2px 2px var(--color-gray-700);
	--ts-dark: 0px 1px 2px rgb(0, 0, 0, 50%), 0px 1px 2px rgb(0, 0, 0, 20%);
	--ts-light: 0px 1px 2px rgb(255, 255, 255), 0px 1px 2px rgb(0, 0, 0, 70%);
	--ts: var(--ts-1);

	--gradient-hovered: linear-gradient(45deg, #1d21290a, #1d21290a);
	--gradient-hovered-heavy: linear-gradient(45deg, #1d212918, #1d212918);

	--color-contrast: #ffffff;
	--color-extraFaint: #9696a0;
	--color-faint: #787885;
	--color-subtle: #5a5b6a;
	--color-normal: #e2e2e2;
	--color-blunt: #292a31;
	--color-extreme: #000000;
	--color-white-100: rgba(255, 255, 255, 0.1);
	--color-white-200: rgba(255, 255, 255, 0.2);
	--color-white-300: rgba(255, 255, 255, 0.3);
	--color-white-400: rgba(255, 255, 255, 0.4);
	--color-white-500: rgba(255, 255, 255, 0.5);
	--color-white-600: rgba(255, 255, 255, 0.6);
	--color-white-700: rgba(255, 255, 255, 0.7);
	--color-white-800: rgba(255, 255, 255, 0.8);
	--color-white-900: rgba(255, 255, 255, 0.9);
	--color-white-1000: rgba(255, 255, 255, 1);
	--color-white: var(--color-white-1000);
	--color-black-100: rgba(0, 0, 0, 0.1);
	--color-black-200: rgba(0, 0, 0, 0.2);
	--color-black-300: rgba(0, 0, 0, 0.3);
	--color-black-400: rgba(0, 0, 0, 0.4);
	--color-black-500: rgba(0, 0, 0, 0.5);
	--color-black-600: rgba(0, 0, 0, 0.6);
	--color-black-700: rgba(0, 0, 0, 0.7);
	--color-black-800: rgba(0, 0, 0, 0.8);
	--color-black-900: rgba(0, 0, 0, 0.9);
	--color-black-1000: rgba(0, 0, 0, 1);
	--color-black: var(--color-black-1000);
	--color-neutral-100: #e5e5e5;
	--color-neutral-200: #cccccc;
	--color-neutral-300: #b2b2b2;
	--color-neutral-400: #999999;
	--color-neutral-500: #7f7f7f;
	--color-neutral-600: #666666;
	--color-neutral-700: #4c4c4c;
	--color-neutral-800: #323232;
	--color-neutral-900: #191919;
	--color-neutral-1000: #000000;
	--color-neutral: var(--color-neutral-500);
	--color-gray-100: #f7fafc;
	--color-gray-200: #edf2f7;
	--color-gray-300: #e2e8f0;
	--color-gray-400: #cbd5e0;
	--color-gray-500: #a0aec0;
	--color-gray-600: #718096;
	--color-gray-700: #4a5568;
	--color-gray-800: #2d3748;
	--color-gray-900: #1a202c;
	--color-gray-1000: #030508;
	--color-gray: var(--color-gray-500);
	--color-red-100: #fff1f0;
	--color-red-200: #ffccc7;
	--color-red-300: #ffa39e;
	--color-red-400: #ff7875;
	--color-red-500: #ff4d4f;
	--color-red-600: #f5222d;
	--color-red-700: #cf1322;
	--color-red-800: #a8071a;
	--color-red-900: #820014;
	--color-red-1000: #5c0011;
	--color-red: var(--color-red-500);
	--color-orange-100: #fff7e6;
	--color-orange-200: #ffe7ba;
	--color-orange-300: #ffd591;
	--color-orange-400: #ffc069;
	--color-orange-500: #ffa940;
	--color-orange-600: #fa8c16;
	--color-orange-700: #d46b08;
	--color-orange-800: #ad4e00;
	--color-orange-900: #873800;
	--color-orange-1000: #612500;
	--color-orange: var(--color-orange-500);
	--color-yellow-100: #feffe6;
	--color-yellow-200: #ffffb8;
	--color-yellow-300: #fffb8f;
	--color-yellow-400: #fff566;
	--color-yellow-500: #ffec3d;
	--color-yellow-600: #fadb14;
	--color-yellow-700: #d4b106;
	--color-yellow-800: #ad8b00;
	--color-yellow-900: #876800;
	--color-yellow-1000: #614700;
	--color-yellow: var(--color-yellow-500);
	--color-green-100: #f6ffed;
	--color-green-200: #d9f7be;
	--color-green-300: #b7eb8f;
	--color-green-400: #95de64;
	--color-green-500: #73d13d;
	--color-green-600: #52c41a;
	--color-green-700: #389e0d;
	--color-green-800: #237804;
	--color-green-900: #135200;
	--color-green-1000: #092b00;
	--color-green: var(--color-green-500);
	--color-cyan-100: #e6fffb;
	--color-cyan-200: #b5f5ec;
	--color-cyan-300: #87e8de;
	--color-cyan-400: #5cdbd3;
	--color-cyan-500: #36cfc9;
	--color-cyan-600: #13c2c2;
	--color-cyan-700: #08979c;
	--color-cyan-800: #006d75;
	--color-cyan-900: #00474f;
	--color-cyan-1000: #002329;
	--color-cyan: var(--color-cyan-500);
	--color-blue-10: #f3f9fc;
	--color-blue-100: #e6f7ff;
	--color-blue-200: #bae7ff;
	--color-blue-300: #91d5ff;
	--color-blue-400: #69c0ff;
	--color-blue-500: #40a9ff;
	--color-blue-600: #1890ff;
	--color-blue-700: #096dd9;
	--color-blue-800: #0050b3;
	--color-blue-900: #003a8c;
	--color-blue-1000: #002766;
	--color-blue: var(--color-blue-500);
	--color-geekblue-100: #f0f5ff;
	--color-geekblue-200: #d6e4ff;
	--color-geekblue-300: #adc6ff;
	--color-geekblue-400: #85a5ff;
	--color-geekblue-500: #597ef7;
	--color-geekblue-600: #2f54eb;
	--color-geekblue-700: #1d39c4;
	--color-geekblue-800: #10239e;
	--color-geekblue-900: #061178;
	--color-geekblue-1000: #030852;
	--color-geekblue: var(--color-geekblue-500);
	--color-purple-100: #f9f0ff;
	--color-purple-200: #efdbff;
	--color-purple-300: #d3adf7;
	--color-purple-400: #b37feb;
	--color-purple-500: #9254de;
	--color-purple-600: #722ed1;
	--color-purple-700: #531dab;
	--color-purple-800: #391085;
	--color-purple-900: #22075e;
	--color-purple-1000: #120338;
	--color-purple: var(--color-purple-500);
	--color-magenta-100: #fff0f6;
	--color-magenta-200: #ffd6e7;
	--color-magenta-300: #ffadd2;
	--color-magenta-400: #ff85c0;
	--color-magenta-500: #f759ab;
	--color-magenta-600: #eb2f96;
	--color-magenta-700: #c41d7f;
	--color-magenta-800: #9e1068;
	--color-magenta-900: #780650;
	--color-magenta-1000: #520339;
	--color-magenta: var(--color-magenta-500);
	--color: var(--color-normal);
}
