.layout-page-header {
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 4px;
    margin-top: var(--spacing-sm);
}

.style-layout{
    // position: relative;
    // top: 56px;
    margin-top: 56px;
    background-color: white;
}

.layout-sider-bar{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px;
}

.content-container{
    margin-top: var(--spacing-sm);
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 4px;
}